{var $title = 'Aktuální události'}

{block content}

<div class="alert alert-info">
Tato stránka nahrazuje stránky
<a href="http://corale.gyzamb.cz/wiki/koncerty">koncerty</a> a
<a href="http://corale.gyzamb.cz/wiki/zkousky">zkoušky</a> na
<a href="http://corale.gyzamb.cz/wiki">wiki</a>.
</div>

<p>Přehled plánovaných událostí od nynějška do budoucnosti.</p>

{include 'eventlists.latte'}

{/block}

{block menu}
{include 'menu.latte'}
{/block}
