{var $title = 'Aktuální události'}

{block content}

<p>Přehled plánovaných událostí od nynějška do budoucnosti.</p>

{include 'eventlists.latte'}

{/block}

{block menu}
{include 'menu.latte'}
{/block}
