{status 404}

{var $title = 'Neznámá osoba'}

{block content}

<p>Litujeme, ale požadovaná osoba nebyla nalezena.</p>

<a n:href="Member: id => ''" class="btn btn-primary">&larr;&nbsp;Zpět na seznam členů</a>

{/block}
