{block content}
<h1>Lidé ve sboru Corale</h1>

<div class="flash info">
Tato stránka nahrazuje stránku
<a href="http://corale.gyzamb.cz/wiki/lide/">lidé</a> na
<a href="http://corale.gyzamb.cz/wiki/">wiki</a>.
</div>

{if $user->isLoggedIn()}
<div><a n:href="create">Přidat osobu</a><div>
{/if}

{include #list}

{/block}

{block sidebar}
{include 'sidebar.latte'}
{/block}

{block list}
<h2>{$list_title}</h2>

<p>Počet: {count($members)}.</p>

{if isset($members) and count($members) > 0}
<table class="members">
	<thead>
	<tr>
		<th class="name">Jméno</th>
		<th class="voice_type">Hlas</th>
		<th class="instruments">Nástroje</th>
		<th class="action">&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	{foreach $members as $member}
	<tr n:class="$iterator->isOdd() ? odd : even">
		<td class="name">{$member->first_name} {$member->last_name}</td>
		<td class="voice_type">{_}{$member->voice_type}{/_}</td>
		<td class="instruments">{$member->instruments}</td>
		<td class="action">
			<a href="{plink Member:details $member->id}">detaily</a>
			{if $user->isLoggedIn()},
			<a href="{plink Member:edit $member->id}">upravit</a>
			{/if}
		</td>
	</tr>
	{/foreach}
	</tbody>
</table>
{else}
<p>Nikdo.</p>
{/if}

{/block}