{var $title = "{$member->first_name} {$member->last_name}"}
{var $titleSmall = "Upravit informace o osobě"}

{block content}

<fieldset>
    {*<legend>Upravit informace o osobě</legend>*}

    {control memberForm}
</fieldset>

{/block}
