{var $title = 'Playlist'}

{block content}

<p>
	<form action="{plink Playlist:update eventId=>$eventId}" method="POST">
		<a href="{link Event:details $eventId}" class="btn">
			<i class="icon-time"></i>&nbsp;Detaily události
		</a>

		<input type="hidden" id="songIds" name="songIds">
		<button type="submit" id="playlistSave" class="btn btn-primary">
			<i class="icon-ok icon-white"></i>&nbsp;Uložit playlist
		</button>
		
		<a href="{link default eventId=>$eventId}" class="btn">
			<i class="icon-remove"></i>&nbsp;Neukládat
		</a>
		
		<div class="pull-right">
			<a href="#playlistHelpModal" data-toggle="modal" class="btn">
				<i class="icon-question-sign"></i>&nbsp;Nápověda
			</a>
		</div>
	</form>
</p>

<div class="modal hide" id="playlistHelpModal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Nápověda k úpravám playlistu</h3>
	</div>
	<div class="modal-body">
		<p>Písničky můžete přetáhnout ze zpěvníku pomocí myši (drag 
		&amp; drop). Stejně tak lze písničky potom libovolně seřadit. 
		Písničky lze také přidat ze zpěvníku do playlistu pomocí ikonky 
		plus <i class="icon-plus"></i>, naopak odebrat písničku lze ikonkou 
		křížku <i class="icon-remove"></i>.</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">OK</a>
	</div>
</div>

{include 'playlistEditor.latte'}

{/block}
