{status 404}

{var $title = 'Nenalezeno'}

{block content}

<h1>Událost nenalezena</h1>

<p>Litujeme, ale požadovaná událost nebyla nalezena.</p>

<div>
	<a n:href="default">zpět</a>
</div>

{/block}
