{var $title = 'Účast k události'}

{block content}

<div class="row">
	<div class="span5">

		<h2>Událost</h2>
		
		<p> 
			<a n:href="default" class="btn">
				&larr;&nbsp;seznam událostí s účastí
			</a>
			<a n:href="Event:details $event->id" class="btn">
				<i class="icon-search"></i>&nbsp;detaily akce
			</a>
		</p>
		
		{* TODO: make a component *}
		<table class="table table-striped table-bordered">
			<tr>
				<td><i class="icon-time"></i>&nbsp;Datum</td>
				<td><a class="btn btn-primary" href="#"><strong>
				{$event->date_start|date:'j.n.Y H:i'}
				{ifset $event->date_end}
					až {$event->date_end|date:'j.n.Y H:i'}
				{/ifset}
				</strong></a>
				</td>
			</tr>
			<tr>
				<td><i class="icon-home"></i>&nbsp;Místo</td>
				<td><a class="btn btn-primary" href="#"><strong>{$event->place}</strong></a></td>
			</tr>
			<tr>
				<td><i class="icon-pencil"></i>&nbsp;Popis</td>
				<td><strong>{$event->description}</strong></td>
			</tr>
		</table>
	</div>
	<div class="span5">

		<h2>Účast</h2>
		
		<p>Lidé, kteří se zůčastní této akce (aktivní členové a hosté).</p>
		
		<table class="table table-striped table-bordered">
			<tbody>
				<tr><td><i class="icon-ok-sign"></i>&nbsp;Účastní se</td>
				<td><span class="badge badge-success">{$attendanceCounts['yes']}</span></td>
			</tr>
				<tr><td><i class="icon-remove-sign"></i>&nbsp;Neúčastní se</td>
				<td><span class="badge badge-error">{$attendanceCounts['no']}</span></td>
			</tr>
				<tr><td><i class="icon-question-sign"></i>&nbsp;Ostatní, co nepotvrdili nic</td>
				<td><span class="badge">{$attendanceCounts['other']}</span></td>
			</tr>
				<tr><td><i class="icon-repeat"></i>&nbsp;Celkem (včetně hostů)</td>
				<td><span class="badge badge-info">{$attendanceCounts['total']}</span></td>
			</tr>
			</tbody>
		</table>

	</div>
</div>

<div class="row">
	<div class="span8 offset1">

{snippet attendanceList}
{foreach $members as $memberAtt}
{first}<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th><i class="icon-user"></i>&nbsp;Jméno</th>
			<th><i class="icon-time"></i>&nbsp;Účast</th>
			<th><i class="icon-pencil"></i>&nbsp;Poznámka</th>
			<th><i class="icon-check"></i></th>
		</tr>
	</thead>
	<tbody>
{/first}
	<tr>
		<th>{$memberAtt->first_name} {$memberAtt->last_name}</th>
		<td>
			{snippet attendanceButton-$event->id-$memberAtt->member_id}
			{control attendanceButton, $event->id, $memberAtt->member_id}
			{/snippet}
		</td>
		<td>{$memberAtt->attend_note}</td>
		<td>
			
			<a class="btn btn-info" href="{if $memberAtt->attendance_id}
				{plink Attendance:edit $memberAtt->attendance_id}{else}
				{plink Attendance:create eventId => $event->id, memberId => $memberAtt->member_id}
				{/if}" title="upravit">
			<i class="icon-pencil icon-white"></i></a>
		</td>
	</tr>
{last}</tbody></table>{/last}
{/foreach}
{/snippet}

	</div>
</div>

{/block}