<ul class="nav nav-tabs">
	<li{ifCurrent default} class="active"{/ifCurrent}><a n:href="default">Aktuální události</a></li>
	<li{ifCurrent archive} class="active"{/ifCurrent}><a n:href="archive">Archiv</a></li>
</ul>
