<h2>Události</h2>

<ul>
	<li><a n:href="default 'id' => ''">Aktuální události</a></li>
</ul>

<h3>Archiv událostí</h3>

{ifset $years}
<ul>
	{foreach $years as $year}
	<li><a n:href="archive 'id' => '', 'year' => $year->y, 'type' => $type">{$year->y}</a></li>
	{/foreach}
</ul>
{/ifset}

<h3>Operace</h3>

<ul>
{if $user->isLoggedIn()}
	<li><a n:href="create">Vytvořit událost</a></li>
{/if}
</ul>